header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-icon {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.current-weather {
    display: flex;
    justify-content: center;
}

#loc-name {
    font-size: 20px;

}

#current-temp {
    font-size: 60px;
}

#icon {
    height: 60px;
    width: 60px;
}

.forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

.forecast-weather {
    display: flex;
    align-items: center;
    
}
