header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-icon {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.current-weather {
    display: flex;
    justify-content: center;
}

#loc-name {
    font-size: 20px;

}

#current-temp {
    font-size: 60px;
}

#icon {
    height: 60px;
    width: 60px;
}

.forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.forecast-weather {
    display: flex;
    align-items: center;
    
}
 img {
     width: 15px;
     height: 15px;
 }

 .container2 {
     background-color: rgb(206, 202, 202);
     border: 1px solid rgb(238, 232, 232);
     border-radius: 20px;
     margin-top: 30px;
 }