header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.current-weather {
    margin: 8% 0;
}

.current-weather > div {
    display: flex;
    justify-content: center;
    font-size: 22px;
    color: #f5eeee;
}

.forecast-weather {
    background: rgba(255, 255, 255,0.5);
    border: 1px solid #eee;
    border-radius: 20px;
}

.forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.forecast > div {
    display: flex;
    align-items: center;
    font-size: 22px;
}

#loc-name {
    font-size: 20px;
    color: white;
}

#current-temp {
    font-size: 60px;
}

#icon {
    height: 80px;
    width: 80px;
}

img {
     width: 15px;
     height: 15px;
     color: white;
}

 