header {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
}

.details {
    padding-top: 30px;
}

#details-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 20px;
  }
  
#details-table td, #customers th {
  border: 1px solid rgb(0, 0, 0);
  padding: 8px;
}

#details-table tr:nth-child(even){background-color: #f2f2f2;}


#details-table tr:hover {background-color: #ddd;}

#details-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}

.forecast {
  display: flex;
  flex-direction: column;
}

.forecast-weather {
    display: flex;
    justify-content: center;
    font-size: 22px;
    color: white;
}


  
