
<header #search>
    <div class="back" [routerLink]="[ '/homepage' ]"><</div>
    <div class="search-container">
        <div class="search-element" id="search-name"><span>Search</span></div>
        <div class="search-element"><input placeholder="Enter region name" [(ngModel)]="name"></div>
    </div>
</header>
<div class="search-result">
     <div>
         <ul *ngFor=" let reg of regions.list">
            <div *ngIf="reg.name | search: name ">
                <li [routerLink]="[ '/homepage', reg.coord.lat , reg.coord.lon ]" (click)="changeRout()"><span>{{reg.name}}</span></li>
            </div>
        </ul>
    </div>
</div>

